@{
    ViewBag.Title = "Home Page";
}

<div style="background:lightSkyBlue" class="jumbotron">
    <h1>Going Merry</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Hacia el Gand Line</h2>
        <p>Vamos por el One Piece, iniciemos conformando la tripulación</p>
    </div>
<img src="https://assets.ayobandung.com/crop/0x0:0x0/750x500/webp/photo/2023/06/06/gear-5-2470564499.jpg"/>
</div>